body{
	font-family: Arial, sans-serif;
	background-color: white;
	font-weight:bold;
}
a{
	text-decoration: none;
	color: black;
}
h1, h2, h3{
	margin: 0;
}
#container{
 width: 800px;
 margin-left: auto;
 margin-right: auto;
 background-color: #82FA58
}
#header{
	color: white;
	text-align: center;
	padding: 10px;
	background-color: #A9F5A9;
}
#content{
padding: 10px;
padding-bottom: 650px;
}
#nav ul {
list-style-type: none;
padding: 0;
}
#nav{
	width: 178px;
	float: left;
}
#main{
	width: 600px;
	float: left;
	font-family: sans-serif;
}
#footer{
	clear: both;
	height: 10px;
	padding: 10px;
	background-color: #A9F5A9;
	color: white;
	text-align: right;
}
#nav .selected{
	font-weight: bold;
	color: white;
}
